{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<h1>Welcome!</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in user.list %}
    <tr>
      <td>{{ item.symbol }}</td>
      <td>{{ item.shares }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>Cash: {{ user.cash }}</p>
<p>Total: {{ user.total }}</p>


{% endblock %}
